@charset "utf-8";

.example{margin:0.6em;background-color:#99CCFF;border-radius:0.5em;border:1px solid #3399FF;}
.example p{padding:0.3em 1em;}

/* Basic grid class */
.grid_1_of_3{width:33.33%;float:left;}
.grid_1_of_3:nth-child(3n-2){clear:both;}

/* terblet */
@media only screen and (max-width:1000px){
	.grid_1_of_3{width:50%}
	.grid_1_of_3:nth-child(3n-2){clear:none;}
	.grid_1_of_3:nth-child(2n-1){clear:both;}
}

/* Phone */
@media only screen and (max-width:768px){
	.grid_1_of_3{width:100%}
	.grid_1_of_3:nth-child(3n-2){clear:none;}
	.grid_1_of_3:nth-child(2n-1){clear:none;}
}